@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.hero-section {
  min-height: 70vh;
}

.hero-image {
  height: 70vh;
  object-fit: cover;
}

.splide__slide {
  display: flex;
  justify-content: center;
}

.btn-send-message {
  border-radius: 50%;
  line-height: 2em;
  position: absolute;
  right: 0;
  top: 73%;
  transform: translateY(-25%);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.card-img-top {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
